body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(37, 37, 37);
}

header h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    width: 900px;
    margin: 16px auto 16px;
}

figure {
    float: left;
    margin: 0 20px 20px 0;
}

figure img {
    width: 250px;
    height: auto;
}

section {
    width: 100%;
    height: auto;
}

nav li {
    display: inline;
    margin-right: 16px;
}

nav ul {
    padding-left: 0%;
}

nav a, nav a:visited, nav a:active {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

p {
    padding-bottom: 16px;
}

nav {
    background-color: rgb(26, 26, 26);
    padding: 8px 16px 8px 16px;
}

footer p {
    padding-top: 16px;
}